<div class="container">
	<div class="row">
		<!-- 名称〜タグ〜写真 -->
		<div class="col-xs-6">
		</div>
		<!-- memo〜食材 -->
		<div class="col-xs-6">
		</div>
		<!-- 作り方 -->
		<div class="col-xs-12">
		</div>
		<!-- 登録ボタン -->
		<button class="col-xs-12">マイレシピに登録する</button>
	</div>
</div>