<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<% if @recipe.user_id.nil? %>
			<%= render 'layouts/recipe_show', recipe: @recipe %>
		<% else %>
			<% if user_signed_in? %>
				<% if @recipe.user_id == current_user.id  %>
					<%= render 'layouts/recipe_show', recipe: @recipe %>
				<% else %>
					<h3 class="col-xs-12"> レシピが存在しないか、閲覧権限がありません </h3>
				<% end %>
			<% else %>
				<h3 class="col-xs-12"> レシピが存在しないか、閲覧権限がありません </h3>
			<% end %>
		<% end %>
	</div>
</div>

<%#= render 'layouts/footer' %>

