<%= render 'layouts/admin_header' %>
<div class="container">
	<div class="row">
		<!-- 左サイドバー -->
		<div class="col-xs-2">
		</div>
		<!-- 中央コンテンツ -->
		<div class="col-xs-10">
			<h3>マイレシピ一覧</h3>
			<% if @recipes.count == 0 %>
				<p>マイレシピがありません</p>
			<% else %>
				<%= render 'layouts/recipes_index', recipes: @recipes %>
				<%= paginate @recipes, class: 'paginate' %>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/admin_footer'%>
