<div class="nested-fields">
	<%= f.select :tag_id, Tag.all.map { |t| [t.word, t.id]}, {}, { class: 'js-example-basic-multiple col-xs-11', multiple: "multiple"} %>
	<%= link_to_remove_association "削除", f, style: "color: black;" %>
	<br>
</div>

<script>
	$(document).ready(function() {
    	$(".js-example-placeholder-single").select2({
		  placeholder: {
		    id: '-1', // the value of the option
		    text: 'Select an option'
		  }
		});
	});

$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
