<div class="col-xs-4 nested-fields">
	<%= f.number_field :steps_order %>
	<%= link_to_remove_association "削除", f, style: "color: black;" %>
	<%= f.text_area :steps_expression, style: "width:100%;" %>
</div>
