// Place all the styles related to the user::shopping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// shopping_list#show 並び順表示▼▲
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc { 
  background-image: url(/images/up-arrow.png); 
}

.pretty th .desc { 
  background-image: url(/images/down-arrow.png); 
}