<header class="user_header row", style="background-color: #E8E497; ">
	<div class="header-box">
		<nav class="clearfix">
			<%= link_to "CookListy", root_path, class: 'title-logo' %>
			<%= link_to image_tag('/images/logo2.png', class: "logo"),root_path %>
			<div class="header-subtitle"> 買い物リスト自動生成サービス </div>
	  	  	<ul class="nav-list"> <!-- FIX:ハンバーガーメニュー化 -->
	  			<li class="header-menu">
					<span class="admin-header-right">ログイン中の管理者：<%= current_administrator.name %></li>
					<div style="line-height: 75px; margin: 0 5px; float: left">|</div>
	  			<li class="header-menu">
					<%= link_to "ログアウトする", destroy_administrator_session_path, method: :delete, class: 'admin-header-right'%></li>
			</ul>
		</nav>
	</div>
</header>