<header class="user_header row", style="background-color: #E8E497; ">
	<div class="header-box">
		<nav class="clearfix">
			<%= link_to image_tag('/images/logo.png', :height => '40', :width => "auto", class: "logo"), admin_path %>
			<div style="display: inline-block; margin-top: 30px; font-style: italic;"> 買い物リスト自動生成サービス </div>
	  	  	<ul class="nav-list"> <!-- FIX:ハンバーガーメニュー化 -->
	  			<li class="header-menu">
					<span>ログイン中の管理者：<%= current_administrator.name %></li>
					<div style="line-height: 79px; float: left">|</div>
	  			<li class="header-menu">
					<%= link_to "ログアウトする", destroy_administrator_session_path, method: :delete %></li>
			</ul>
		</nav>
	</div>
</header>