<div class="col-xs-4 nested-fields">
	<%= f.number_field :steps_order, placeholder: '順番(1,2など)', style: 'width: 35%;' %>
	<%= link_to_remove_association "罰", f, style: "color: black;" %>
	<%= f.text_area :steps_expression, placeholder: '手順', style: "width:90%; height:75px;" %>
</div>
